<?php


session_start();

display_header();
display_form();
display_footer ();

function display_form() {
	print "  <div data-role='main' class='ui-content'>
	    <div data-role='collapsible' data-collapsed='false'>
	      <h1>Please enter your Name and Email address</h1>
	      <p>";
	print "<form action="insert.php" method="POST">;
	print "<table><tr><td>Workshop: </td><td><input type=text name=workshop size=100></td></tr>";
	print "<tr><td>Name: </td><td><input type=text name=name size=20></td></tr>";
	print "<tr><td>Email: </td><td><input type=text name=email size=20></td></tr>";
	print "<tr><td>Company: </td><td><input type=text name=company size=100></td></tr>";
	print "<tr><td></td><td><input type=submit value='Submit'></td></tr></table></form>";
	print "</p>";

	
}

function display_header() {
?>
<!DOCTYPE html>
<html>
<font face="verdana,sans,arial">
<style>

/* unvisited link */
a:link {
    color: #FF6978;
}

/* visited link */
a:visited {
    color: #FF6978;
}

/* mouse over link */
a:hover {
    color: #3DCCCC;
}

/* selected link */
a:active {
    color: blue;
}

</style>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<div data-role="page" id="pageone">
  <div data-role="header">
    <h1>RedHat Ansible Automation Workshop - Registration Page </h1>
  </div>
  <div data-role="main">
    <img src="https://raw.githubusercontent.com/vsylvest/linklight/master/images/networkautomation.png"/>
<?php
}

function display_footer () {
?>
    </div>
  </div>
</div>

</body>
</html>
<?php
}