CREATE TABLE IF NOT EXISTS `users` (
  `name` varchar(128) DEFAULT '',
  `email` varchar(128) DEFAULT '',
  `company` varchar(500) DEFAULT '',
  `workshop` varchar(500) DEFAULT '',
  `phone` varchar(10) DEFAULT '',
  PRIMARY KEY (`id`),
  KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;